{% extends "base.html" %}

{% block content %}
<h2 align="center">Works log</h2>
{% for item in jobs %}
<h3>Action # {{ loop.index }}</h3>
<div class="col-md6 border rounded">
    <table class="table">
        <tr>
            <td class="table-active">Title of activity</td>
            <td class="table-active">Team leader</td>
            <td class="table-active">Duration</td>
            <td class="table-active">List of collaborators</td>
            <td class="table-active">Is finished</td>
        </tr>
      <tr>
        <td class="table-info">{{ item.job }}</td>
          <td class="table-info">{{ name[loop.index0] }} {{ surname[loop.index0] }}</td>
          <td class="table-info">{{ item.work_size }}</td>
          <td class="table-info">{{ item.collaborators }}</td>
          <td class="table-danger">{% if item.is_finished %} Is not finished {% else %} Is finished {% endif %}</td>
      </tr>
    </table>
</div>
<p>
{% endfor %}
{% endblock %}